#liquid {
	border-radius:10px 10px 10px 10px;
	padding:10px 0;
	margin-top: -30px;
}
#liquid .previous, #liquid .next {
	display:block;
	height:126px;
	width:64px;
	margin:0;
	padding:0;
	background-repeat: no-repeat;
	cursor: pointer;
}

#liquid .previous {
	background-image:url('../img/previous.png');
	float:left;
	background-position-x: 9px;
}

#liquid .next {
	background-image:url('../img/next.png');
	float:right;
	background-position-x: 7px;
}
#liquid ul li {
	padding:0 2px;
	margin:0;
}
#liquid ul li a img {
	-webkit-box-shadow: 5px 5px 3px #222;
	box-shadow: 5px 5px 3px #222;
}
#liquid img {
	width: 240px;
	border: 5px solid white;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	-ms-transition: border 0.5s;
	transition: border 0.5s;
}

#liquid img:hover {
	border: 5px solid #FE3700;
}